.slide-background-start {
  background-image: url('../public/main/start.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-background-end {
  background-image: url('../public/main/end.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slidev-layout.cover > .my-auto {
  padding-left: 150px;
}

.slidev-layout {
  background-color: #003059 !important;
}

.slidev-layout.quote {
  background-color: #1f4e5f !important;
}

.slidev-layout.quote blockquote {
  margin: 0;
  padding: 0;
  background-color: #1f4e5f !important;
  color: #ffffff;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 1.3;
}

.slidev-layout.quote blockquote p {
  margin: 0;
  color: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

.slidev-layout.quote-text blockquote {
  margin: 0;
  padding: 1.5rem 2rem;
  background-color: #00213f !important;
  color: #ffffff;
  font-style: italic;
}

.slidev-layout.quote-text blockquote p {
  margin: 0;
  color: inherit !important;
}

.slide-current-no {
  position: absolute;
  right: 30px;
  bottom: 20px;
  background-color: #003059 !important;
}

.slidev-layout h1 {
  margin-top: 0.10rem;
  margin-bottom: 0,25rem;
  color: #ffffff;
}

.slidev-layout h2 {
  color: #b2b2b2;
}

.slidev-layout h3 {
  color: #b2b2b2;
}

.slidev-layout p {
  color: #ffffff !important;
  font-size: 1.8rem !important;
  line-height: 1.5 !important;
}

.slidev-layout li {
  color: #ffffff;
  font-size: 1.8rem;
}

.slide-image-bottom-right {
  position: absolute;
  right: 40px;
  bottom: 30px;

  width: 180px;
  height: auto;
}
