.slide-background-start {
  background-image: url('../public/main/start.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-background-end {
  background-image: url('../public/main/end.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slidev-layout.cover > .my-auto {
  padding-left: 150px;
}

.slidev-layout {
  background-color: #003059 !important;
}

.slide-current-no {
  position: absolute;
  right: 30px;
  bottom: 20px;
  background-color: #003059 !important;
}

.slidev-layout h1 {
  margin-top: 0.10rem;
  margin-bottom: 0,25rem;
  color: #ffffff;
}

.slidev-layout h2 {
  color: #b2b2b2;
}

.slidev-layout h3 {
  color: #b2b2b2;
}

.slide-image-bottom-right {
  position: absolute;
  right: 40px;
  bottom: 30px;

  width: 180px;
  height: auto;
}
